<div class="container">
  <footer class="footer">
    <small>
      Manually coded with <a href="http://www.udemy.com">Udemy</a></br>
      The Complete Ruby on Rails Developer Course
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'All Articles', articles_path %></li>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </nav>
  </footer>
</div>